.madlib > span.field-wrapper > input[type='text'],
.madlib > span.subfield-field-wrapper > input.madlib-subfield[type='text'],
.madlib > span.other-field-wrapper > input.madlib-other[type='text'] {
  display: inline-block;
  width: auto;
  height: 23px;
}

.madlib > span.subfield-field-wrapper > input.madlib-subfield[type='text'],
.madlib > span.other-field-wrapper > input.madlib-other[type='text'] {
  display: none;
  margin-left: 5px;
}

.madlib > span.field-wrapper > .btn-group > button {
  padding: 0px 10px;
}
